.header{
    display: flex;
    gap: 22rem;
    justify-content: center;
    background-color: $black-color;
    padding: 1rem;
    position: absolute;
    top: 0rem;
    position: fixed;
    width: 100%;
    @media(max-width:768px){
      display: flex;
      padding-right: 3rem;
      padding-top: 1.50rem;
      font-size: .70rem;
      padding-left: 3rem;

    }
    a{
      text-decoration: none;
      color: whitesmoke;
    }
    .ancs{
      display: flex;
      gap: 3rem;
      @media(max-width:768px){
          display: none;
      }
    }
    .menu{
        display: none;
        @media(max-width:768px){
          display: block;
          font-size: .70rem;
      }
    }
  }